USE [master]
GO
/****** Object:  Database [LKSN2018]    Script Date: 08/05/2018 09:56:50 ******/
CREATE DATABASE [LKSN2018]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LKSN2018', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LKSN2018.mdf' , SIZE = 13504KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LKSN2018_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LKSN2018_log.ldf' , SIZE = 1856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LKSN2018].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LKSN2018]
GO
/****** Object:  Table [dbo].[MsEmployee]    Script Date: 08/05/2018 09:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MsEmployee](
	[Id] [char](6) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [char](128) NOT NULL,
	[Handphone] [varchar](13) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MsMember]    Script Date: 08/05/2018 09:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MsMember](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Handphone] [varchar](13) NOT NULL,
	[JoinDate] [date] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MsMenu]    Script Date: 08/05/2018 09:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsMenu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[Carbo] [int] NOT NULL,
	[Protein] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orderDetail]    Script Date: 08/05/2018 09:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[orderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Orderid] [char](12) NULL,
	[Menuid] [int] NULL,
	[Qty] [int] NOT NULL,
	[Status] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderHeader]    Script Date: 08/05/2018 09:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderHeader](
	[Id] [char](12) NOT NULL,
	[Employeeid] [char](6) NULL,
	[Memberid] [int] NULL,
	[Date] [date] NOT NULL DEFAULT (getdate()),
	[PaymentType] [varchar](20) NULL,
	[CardNumber] [varchar](16) NULL,
	[Bank] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MsEmployee] ([Id], [Name], [Email], [Password], [Handphone], [Position]) VALUES (N'EM0001', N'Stanley Giovany', N'stanley.giovany@gmail.com', N'daef4953b9783365cad6615223720506cc46c5167cd16ab500fa597aa08ff964eb24fb19687f34d7665f778fcb6c5358fc0a5b81e1662cf90f73a2671c53f991', N'081516171819', N'cashier')
INSERT [dbo].[MsEmployee] ([Id], [Name], [Email], [Password], [Handphone], [Position]) VALUES (N'EM0002', N'Grady Leif', N'grady.leif@gmail.com', N'daef4953b9783365cad6615223720506cc46c5167cd16ab500fa597aa08ff964eb24fb19687f34d7665f778fcb6c5358fc0a5b81e1662cf90f73a2671c53f991', N'089901020304', N'chef')
INSERT [dbo].[MsEmployee] ([Id], [Name], [Email], [Password], [Handphone], [Position]) VALUES (N'EM0003', N'Hengky', N'hengky@gmail.com', N'daef4953b9783365cad6615223720506cc46c5167cd16ab500fa597aa08ff964eb24fb19687f34d7665f778fcb6c5358fc0a5b81e1662cf90f73a2671c53f991', N'089899010203', N'admin')
SET IDENTITY_INSERT [dbo].[MsMember] ON 

INSERT [dbo].[MsMember] ([Id], [Name], [Email], [Handphone], [JoinDate]) VALUES (1, N'Komala Surya', N'komala.surya.w@gmail.com', N'081219575859', CAST(N'2018-05-05' AS Date))
INSERT [dbo].[MsMember] ([Id], [Name], [Email], [Handphone], [JoinDate]) VALUES (2, N'Riza Budi Prasetya', N'riza.bp@gmail.com', N'081213141516', CAST(N'2018-05-05' AS Date))
INSERT [dbo].[MsMember] ([Id], [Name], [Email], [Handphone], [JoinDate]) VALUES (3, N'Lailul Rahmaniah', N'lailul.rahmaniah@gmail.com', N'081314151617', CAST(N'2018-05-05' AS Date))
SET IDENTITY_INSERT [dbo].[MsMember] OFF
SET IDENTITY_INSERT [dbo].[MsMenu] ON 

INSERT [dbo].[MsMenu] ([id], [Name], [Price], [Carbo], [Protein]) VALUES (1, N'Risotto', 50000, 150, 50)
INSERT [dbo].[MsMenu] ([id], [Name], [Price], [Carbo], [Protein]) VALUES (2, N'Lasagna', 55000, 150, 200)
INSERT [dbo].[MsMenu] ([id], [Name], [Price], [Carbo], [Protein]) VALUES (3, N'Mac and Chesse', 60000, 150, 75)
SET IDENTITY_INSERT [dbo].[MsMenu] OFF
SET IDENTITY_INSERT [dbo].[orderDetail] ON 

INSERT [dbo].[orderDetail] ([Id], [Orderid], [Menuid], [Qty], [Status]) VALUES (1, N'201802080001', 1, 1, N'Delivered')
INSERT [dbo].[orderDetail] ([Id], [Orderid], [Menuid], [Qty], [Status]) VALUES (2, N'201802080002', 1, 3, N'Delivered')
INSERT [dbo].[orderDetail] ([Id], [Orderid], [Menuid], [Qty], [Status]) VALUES (3, N'201803190003', 1, 2, N'Delivered')
GO
SET IDENTITY_INSERT [dbo].[orderDetail] OFF
INSERT [dbo].[OrderHeader] ([Id], [Employeeid], [Memberid], [Date], [PaymentType], [CardNumber], [Bank]) VALUES (N'201801010614', N'EM0001', 2, CAST(N'2018-01-01' AS Date), N'credit', NULL, N'BRI')
INSERT [dbo].[OrderHeader] ([Id], [Employeeid], [Memberid], [Date], [PaymentType], [CardNumber], [Bank]) VALUES (N'201801010620', N'EM0001', 2, CAST(N'2018-01-01' AS Date), N'credit', NULL, N'BRI')
INSERT [dbo].[OrderHeader] ([Id], [Employeeid], [Memberid], [Date], [PaymentType], [CardNumber], [Bank]) VALUES (N'201801010987', N'EM0001', 2, CAST(N'2018-01-01' AS Date), N'cash', NULL, N'')
GO
ALTER TABLE [dbo].[orderDetail]  WITH CHECK ADD FOREIGN KEY([Menuid])
REFERENCES [dbo].[MsMenu] ([id])
GO
ALTER TABLE [dbo].[orderDetail]  WITH CHECK ADD FOREIGN KEY([Orderid])
REFERENCES [dbo].[OrderHeader] ([Id])
GO
ALTER TABLE [dbo].[OrderHeader]  WITH CHECK ADD FOREIGN KEY([Memberid])
REFERENCES [dbo].[MsMember] ([Id])
GO
ALTER TABLE [dbo].[OrderHeader]  WITH CHECK ADD FOREIGN KEY([Employeeid])
REFERENCES [dbo].[MsEmployee] ([Id])
GO
USE [master]
GO
